<ion-content>
	<div class="keypad-value">
		<span>{{result}}</span>
	</div>
	<div class="keypad-note">
		<span *ngIf="result" style="height: 20px;" (click)="showActionSheet()">{{stateStr}}</span><span style="height: 20px;">&nbsp;</span>
	</div>
	<div class="keypad-dial">
		<ion-grid style="width: 86%;">
			<ion-row *ngFor="let i of num" style="padding-top: 13px;">
				<ion-col>
					<button ion-button (click)="dialClick(numbers[i])" class="keypad-dial-button">
						<span>{{numbers[i]}}<span style="font-size: 0.4em; display: block; font-weight: bold;">{{words[i]}}</span></span>
					</button>
				</ion-col>
				<ion-col>
					<button ion-button (click)="dialClick(numbers[i+1])" class="keypad-dial-button">
						<span>{{numbers[i + 1]}}<span style="font-size: 0.4em; display: block; font-weight: bold;">{{words[i+1]}}</span></span>
					</button>
				</ion-col>
				<ion-col>
					<button ion-button (click)="dialClick(numbers[i+2])" class="keypad-dial-button">
						<span>{{numbers[i + 2]}}<span style="font-size: 0.4em; display: block; font-weight: bold;">{{words[i+2]}}</span></span>
					</button>
				</ion-col>
			</ion-row>
			<ion-row style="padding-top: 13px;">
				<ion-col></ion-col>
				<ion-col>
					<button class="keypad-dial-button" style="background-color: limegreen" (click)="call()">
						<ion-icon name="ios-call" style="color: white; padding-top: 6px"></ion-icon>
					</button>
				</ion-col>
				<ion-col style="text-align: center; padding-top: 20px;">
					<button ion-button style="background-color: white;" (click)="dialDel()">
						<ion-icon name="ios-backspace" style="color: rgb(240, 239, 239); font-size: 2.5em;"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
